@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(46, 160, 168);
    --primary-color-darker: rgb(24, 108, 114); 
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 40px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 40px;
}

form button:hover {
     background-color: var(--primary-color-darker);
}

.paragrafo-resultado, .bad {
    background-color: rgb(18, 168, 161);
    padding: 10px 20px;
}

.bad {
    background-color: rgb(243, 108, 108);
}

.calc {
    font-size: 1.3em;
}

.tabela {
    margin: auto;
}

h1 {
    text-align: center;
}